<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>add Employee</title>
</head>
<body>
<form enctype="multipart/form-data" action="/addEmployee" method="post">
    <input type="text" name="name" placeholder="name"><br>
    <input type="text" name="surname" placeholder="surname"><br>
    <input type="text" name="email" placeholder="email"><br>
    <input type="number" name="phoneNumber" placeholder="phoneNumber"><br>
    <input type="number" name="salary" placeholder="salary"><br>
    <input type="text" name="position" placeholder="position"><br>
    <select name="company.id">
        Company:
        <option th:each="company: ${companies}" th:text="${company.name}" th:value="${company.id}"></option>
    </select>
    Image: <input type="file" name="picture"><br>
    <input type="submit" value="add">
</form>
</body>
</html>