<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>comp</title>
</head>
<body>
<a href="/">home</a><br>
<a href="/addCompany">add Company</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>size</th>
        <th>address</th>
        <th>delete</th>

    </tr>
    <tr th:each="company: ${companies}">
        <td th:text="${company.id}"></td>
        <td th:text="${company.name}"></td>
        <td><a th:href="@{/companiesEmployees/{id}(id=${company.id})}"
                                         href="#"><span  th:text="${company.size}"></span></a></td>
        <td th:text="${company.address}"></td>
        <td><a th:href="@{/deleteCompany/{id}(id=${company.id})}" href="#">delete</a></td>
    </tr>
</table>
</body>
</html>