<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>employees</title>
</head>
<body>
<a href="/">home</a><br>
<a href="/addEmployee">add employee</a>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>email</th>
        <th>phoneNumber</th>
        <th>salary</th>
        <th>position</th>
        <th>company name</th>
        <th>delete</th>

    </tr>
    <tr th:each="employee: ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.surname}"></td>
        <td th:text="${employee.email}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td th:text="${employee.salary}"></td>
        <td th:text="${employee.position}"></td>
        <td><a th:href="@{/companiesEmployees/{id}(id=${employee.company.id})}" href="#"><span
                th:text="${employee.company.name}"></span></a></td>
        <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" href="#">delete</a></td>

    </tr>
</table>

</body>
</html>