<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align: center">
<div th:include="/fragments/header::lang"></div>
<h1 th:text="#{index.Welcome}"></h1><br>
<div style="align-items: center">
    <a href="/login">
        <button th:text="#{index.Login}" type="button"></button>
    </a><br>
    <a href="/registration/company">
        <button th:text="#{index.register} + ' ' +  #{index.Company}" type="button"></button>
    </a><br>
    <a href="/registration/employee">
        <button th:text="#{index.register} + ' ' +  #{index.Employee}" type="button"></button>
    </a><br>
</div>
</body>
</html>