<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>messenger</title>
</head>
<body>
        <div th:if="${dialog != null}">
            <ul th:each="message: ${dialog}">
                <li th:text="${message.fromEmployee.name} + ' ' +  ${message.fromEmployee.surname} +': _' + ${message.text}"></li>
            </ul>
        </div>
        <form action="/sendMessage/" + th:text="toEmployee.id" method="post">
            <input type="text" value="text">
            <input type="submit" value="send">
        </form>

</body>
</html>