<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>messenger</title>
</head>
<body>
<div style="text-align: right" th:if="${sendMessages != null}">
    <ul th:each="message: ${sendMessages}">
        <li th:text="${message.fromEmployee.name} + ' ' +  ${message.fromEmployee.surname} +': _' + ${message.text}"></li>
    </ul>
</div>

<div style="text-align: left" th:if="${receivedMessages != null}">
    <ul th:each="message: ${receivedMessages}">
        <li th:text="${message.fromEmployee.name} + ' ' +  ${message.fromEmployee.surname} +': _' + ${message.text}"></li>
    </ul>
</div>
<div>
    <form action="/message/send" method="post">
        <input type="text" name="text">
        <input type="hidden" name="toEmployee_id" th:value="${toEmployee.id}">
        <input type="submit" value="send">
    </form>
</div>




</body>
</html>